* {
  box-sizing: border-box;
}

body {
  color: #2b2b2b;
}

input { 
  width: 300px;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(195, 195, 195);
  padding: 0.5rem 0.2rem;
}

ul {
  padding: 0;
  margin-top: -2px;
  border: 1px solid rgb(195, 195, 195);
  border-top: none;
  width: 300px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li {
  list-style: none;
  font-size: 1rem;
  padding: 0.5rem 0.2rem;
  transition: 0.01s;
  width: 100%;
}

li.result {
  cursor: pointer;
}

li.result:hover {
  background-color: rgb(186, 223, 249);
}

li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  margin: 0;
}

.box {
  display: flex;
  justify-content: center;
  padding: 2rem;
}